{% load static %}
<link rel="stylesheet" href="{% static 'web/css/materialdesignicons.min.css' %}">
<link rel="stylesheet" href="{% static 'web/css/vendor.bundle.base.css' %}">
<link rel="stylesheet" href="{% static 'web/css/style.css' %}">
<link rel="shortcut icon" href="assets/images/favicon.ico" />
<link rel="stylesheet" href="{% static 'web/css/jquery-confirm.min.css' %}">

<link rel="stylesheet" href="{% static 'web/css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'web/css/responsive.dataTables.min.css' %}">
